.vp-doc .header-anchor {
  margin-left: 0.13rem;
}

.vp-doc h1, .vp-doc h2 {
  display: flex;
  align-items: center;
}

.vp-doc h2 {
  text-align: left;
}

.vp-doc p {
  text-align: justify;
}

:root {
  --vp-c-blue: #4eafcc;
  --vp-c-blue-soft: #3496b3;
  --vp-c-blue-light: #83c7db;
  --vp-c-blue-lighter: #d4ebfb;
  --vp-c-blue-dark: #275766;
  --vp-c-blue-darker: #34495e;

  --vp-c-brand: var(--vp-c-blue-soft);
  --vp-c-brand-light: var(--vp-c-blue-light);
  --vp-c-brand-lighter: var(--vp-c-blue-lighter);
  --vp-c-brand-dark: var(--vp-c-blue-dark);
  --vp-c-brand-darker: var(--vp-c-blue-darker);

  --vp-home-hero-name-color: var(--vp-c-brand);
}
