.vp-doc .header-anchor {
  margin-left: 0.13rem;
}

.vp-doc h1, .vp-doc h2 {
  display: flex;
  align-items: center;
}

.vp-doc h2 {
  text-align: left;
}

.vp-doc p {
  text-align: justify;
}

:root {
  --vp-c-blue: #52b1cd;
  --vp-c-blue-soft: #3291ad;
  --vp-c-blue-light: #83c7db;
  --vp-c-blue-lighter: #b5ddea;
  --vp-c-blue-dark: #24677c;
  --vp-c-blue-darker: #153e4a;

  --vp-c-yellow: #f8c527;
  --vp-c-yellow-soft: #d8a507;
  --vp-c-yellow-light: #fad665;
  --vp-c-yellow-lighter: #fce6a3;
  --vp-c-yellow-dark: #9a7605;
  --vp-c-yellow-darker: #5c4703;

  --vp-c-brand: var(--vp-c-blue-soft);
  --vp-c-brand-light: var(--vp-c-blue-light);
  --vp-c-brand-lighter: var(--vp-c-blue-lighter);
  --vp-c-brand-dark: var(--vp-c-blue-dark);
  --vp-c-brand-darker: var(--vp-c-blue-darker);

  --vp-button-brand-border: var(--vp-c-brand-dark);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand-dark);
  --vp-button-brand-hover-border: var(--vp-c-brand-darker);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-darker);
  --vp-button-brand-active-border: var(--vp-c-brand-darker);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);

  --vp-button-alt-border: var(--vp-c-brand-dark);
  --vp-button-alt-text: var(--vp-c-text-light-1);
  --vp-button-alt-bg: transparent;
  --vp-button-alt-hover-border: var(--vp-c-brand-dark);
  --vp-button-alt-hover-text: var(--vp-c-white);
  --vp-button-alt-hover-bg: var(--vp-c-brand-dark);
  --vp-button-alt-active-border: var(--vp-c-brand-dark);
  --vp-button-alt-active-text: var(--vp-c-brand-dark);
  --vp-button-alt-active-bg: transparent;

  --vp-button-sponsor-border: var(--vp-c-yellow-soft);
  --vp-button-sponsor-text: var(--vp-c-text-light-2);
  --vp-button-sponsor-bg: transparent;
  --vp-button-sponsor-hover-border: var(--vp-c-yellow-soft);
  --vp-button-sponsor-hover-text: var(--vp-c-white);
  --vp-button-sponsor-hover-bg: var(--vp-c-yellow-soft);
  --vp-button-sponsor-active-border: var(--vp-c-yellow-soft);
  --vp-button-sponsor-active-text: var(--vp-c-yellow-soft);
  --vp-button-sponsor-active-bg: transparent;
}
